.imgSpanContainer {
    width: 100vw;
    img {
        margin-top: 12em;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    @media (min-width: 1023px) {
        img {
            margin-top: 12%;
        }
    }
    @media (min-width: 1910px) {
        img {
            margin-top: 5%;
        }
    }
}

.notFoundCard {
    margin: auto;
    margin-top: 2em;
    width: 95vw;
    @media (min-width: 767px) {
        width: 60vw;
    }
    @media (min-width: 1023px) {
        width: 30vw;
    }
}