.createProductContainer {
    margin: auto;
    margin-top: 1em;
    width: 90vw;
    height: 82vh;
    background-color: var(--font-color);
    border-radius: 10px;
    color: var(--base);
    padding-top: .5em;
}

.labelInput {
    margin-top: 0;
}

.containerInput {
    input {
        width: 90%;
        height: 2em;
        margin: auto;
    }
    select {
        width: 90%;
        margin: auto;
    }
}

.btnCreate {
    width: 6em;
    margin: auto;
    margin-top: 2em;
}

.btnUpdate {
    width: 10em;
    margin: auto;
    margin-top: 2em;
}

.spanIcon {
    margin-left: 18em;
}