.createProductContainer {
    margin: auto;
    margin-top: 1em;
    width: 90vw;
    height: 11
    0vh;
    background-color: var(--font-color);
    border-radius: 10px;
    color: var(--base);
    padding-top: .5em;
    @media (min-width: 767px) {
        width: 70vw;
        height: 600px;
    }
    @media (min-width: 1023px) {
        width: 65vw;
    }
    @media (min-width: 1365px) {
        width: 60vw;
        height: 60vh;
        margin-top: 3em;
    }
    @media (min-width: 1910px) {
        width: 40vw;
        height: 40vh;
    }
    @media (min-width: 2550px) {
        width: 30vw;
        height: 45vh;
    }
}

.labelInput {
    margin-top: 0;
}

.containerInput {
    input {
        width: 90%;
        height: 2em;
        margin: auto;
    }
    select {
        width: 90%;
        margin: auto;
    }
    @media (min-width: 1365px) {
        width: 45%;
    }
}

.btnCreate {
    width: 6em;
    margin: auto;
    margin-top: 2em;
}

.btnUpdate {
    width: 10em;
    margin: auto;
    margin-top: 2em;
}

.spanIcon {
    margin-left: 92%;
    @media (min-width: 1365px) {
        margin-top: 3em;
    }
}

.formContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    @media (min-width: 1365px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}