.navbar-nav {
    @media (min-width: 1023px) {
        margin: 0;
        margin-left: 2em;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }
}

.text-success-emphasis {
    b {
        color: var(--base);
    }
}

.navbarImg {
    width: 20%;
    @media (min-width: 680px) {
        width: 10%;
    }
    @media (min-width: 985px) {
        width: 5%;
    }
}