.productsContainer {
    width: 95vw;
    min-height: 95vh;
    background-color: var(--font-color);
    margin: auto;
    margin-top: 0.9em;
    border-radius: 10px;
}

.filterNav {
    ul {
        width: 100%;
        padding-top: 0.5em;
        padding-left: 0px;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            width: 45%;
        }
    }
}

.btnContainer {
    button {
        width: 4em;
        border-radius: 100%;
        position: sticky;
        top: 10px;
        left: 43%;
        i {
            font-size: 25px;
            margin-top: 1px;
            margin-left: 3px;
        }
    }
}

.searchInput {
    width: 75%;
    height: 2em;
    margin-left: 2em;
}

.fa-pencil {
    color: var(--base);
}

.fa-trash {
    color: rgb(0, 0, 0)
}