.productsContainer {
    width: 95vw;
    background-color: var(--font-color);
    margin: auto;
    margin-top: 0.9em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.filterNav {
    ul {
        width: 100%;
        padding-top: 0.5em;
        padding-left: 0px;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            width: 45%;
        }
    }
    @media (min-width: 767px) {
        ul {
            justify-content: space-between;
            margin-left: 1em;
        }
    }
    @media (min-width: 1023px) {
        ul {
            margin-left: 2em;
            margin-top: 1em;
        }
    }
    @media (min-width: 1365px) {
        ul {
            justify-content: space-between;
            margin-left: 2.5em;
        }
    }
}

.groupFilterBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 767px) {
        margin-right: 2em;
    }
    @media (min-width: 1023px) {
        flex-direction: row;
        margin-right: 4em;
    }
}

.searchInput {
    width: 75%;
    height: 2em;
    @media (min-width: 1023px) {
        width: 60%;
    }
    @media (min-width: 1365px) {
        width: 50%;
        margin-left: 10em;
    }
}

.createBtn {
    width: 75%;
    font-size: 10px;
    margin-top: 1em;
    @media (min-width: 767px) {
        margin-left: 5em;
        font-size: 12px;
    }
    @media (min-width: 1023px) {
        width: 70%;
        margin-top: .4em;
    }
}

.fa-pencil {
    color: var(--base);
}

.fa-trash {
    color: rgb(0, 0, 0)
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: stretch; 
    justify-content: space-between;
    padding: 1em;
    @media (min-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }
}