.cardContainer {
    width: 100%;
    img {
        width: 100%;
        margin: 0;
    }
    h3 {
        background-color: #fff;
    }
    @media (min-width: 767px) {
        width: 30%;
        font-size: 14px;
        h3 {
            padding: 5px;
            font-size: 15px;
            height: 45px;
            text-align: center;
        }
    }
    @media (min-width: 1023px) {
        h3 {
            margin-top: .5em;
        }
    }
    @media (min-width: 1365px) {
        width: 25%;
        margin: auto 2em;
    }
}
