.cardContainer {
    width: 95%;
    margin: auto;
    img {
        width: 60%;
        margin: .5em auto;
    }
}

.card-footer {
    background-color: #fff;
    button {
        background-color: #fff;
    }
}